.dropdown{
    max-width: 1023px;
    width: 70%;
    margin: auto;
    @media screen and (max-width: 585px) {
        width: 90%;
    }
    &_button{
        width: 100%;
        height: 47px;
        background-color: global.$primary;
        border: none;
        border-radius: 5px;
        @include mixins.flexBetween;
        align-items: center;
        margin: 31px 0 12px 0;
        padding: 0 18px;
        cursor: pointer;
        color: global.$white;
        font-family: global.$font1;
        font-weight: 500;
        font-size: 1.5rem;
        @media screen and (max-width: 585px) {
            font-size: 0.8rem;
        }
        &--arrow{
            width: 15px;
            height: 9px;
        }
    }
}

.dropdown__content{
    background-color: global.$lightgrey;
    border-radius: 10px;
    min-height: 133px;
    position: relative;
    top: -10px;
    z-index: 40;
    &--text{
        color: global.$primary;
        padding: 18px 27px 20px 18px;
        font-size: 1.5rem;
        font-weight: 400;     
        font-family: global.$font1;
    }
}



