.gallery{
    color: global.$lightgrey;
    background-color:  global.$lightgrey;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px 100px 60px 100px;
    padding: 50px;
    gap: 60px;
    @media screen and (max-width: 1250px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 978px) {
        grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (max-width: 587px) {
        padding: 0;
        margin: 0 20px;
        background-color: white;
        gap: 0px;
    }
    
}
      