.gallery{
    color: global.$lightgrey;
    background-color:  global.$lightgrey;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px 100px 60px 100px;
    padding: 50px;
    gap: 60px;
}