.carroussel{
    margin: 0 100px;
    &__container{
        position: relative;
        margin-bottom: 30px;
    }
    &__number{
        position: absolute;
        bottom: 45px;
        right: 20px;
        font-size: 1.2rem;
        color: global.$white;
        z-index: 1;
        left: 50%;
    }
}

.button__img {
    @include mixins.buttonImg;
}

.slider-image{
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}