* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a{
    text-decoration: none;
}

/***********************VARIABLES******************/
$font1 : 'Montserrat', sans-serif;

$primary:rgba(255, 96, 96, 1);
$white : rgba(255, 255, 255, 1);
$lightgrey:rgba(246, 246, 246, 1);

